html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  text-align: center;
  display: block;
  margin: 1em;
}

.btn {
  font-size: 1.125rem;
  text-decoration: none;
  border-radius: 8px;
  padding: .6em;
  margin: .5em;
}

.btn-small a {
  font-size: .875rem;
}

.btn-big a {
  font-size: 1.5rem;
}

.btn {
  color: #fff;
  background-color: #333;
}

.btn:hover {
  background-color: #000;
}

.btn-ghost {
  border: 3px solid #333;
  color: #333;
}

.btn-ghost:hover {
  background-color: #666;
  color: #fff;
  border-color: #666;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
}

.btn-warning:hover {
  background-color: #933;
}
